apiVersion: hoptimator.linkedin.com/v1alpha1
kind: Acl
metadata:
  name: {{topicNameLowerCase}}-acl-{{id}}
  namespace: {{pipeline.namespace}}
spec:
  resource:
    kind: KafkaTopic
    name: {{topicNameLowerCase}}
  method: {{method}}
  principal: {{principal}} 
