apiVersion: hoptimator.linkedin.com/v1alpha1
kind: KafkaTopic
metadata:
  name: {{pipeline.name}}-kafka-topic-{{id}}
  namespace: {{pipeline.namespace}}
spec:
  topicName: {{name}}
  numPartitions: {{kafka.numPartitions:1}}
  clientOverrides:
    {{clientOverrides}}
