apiVersion: hoptimator.linkedin.com/v1alpha1
kind: Database
metadata:
  name: ads-database
spec:
  schema: ADS
  url: jdbc:demodb://names=ads
  dialect: Calcite

---

apiVersion: hoptimator.linkedin.com/v1alpha1
kind: Database
metadata:
  name: profile-database
spec:
  schema: PROFILE
  url: jdbc:demodb://names=profile
  dialect: Calcite

---

apiVersion: hoptimator.linkedin.com/v1alpha1
kind: TableTemplate
metadata:
  name: demodb-read-template
spec:
  databases:
  - profile-database
  - ads-database
  methods:
  - Scan
  connector: |
    connector = datagen
    number-of-rows = 10

---

apiVersion: hoptimator.linkedin.com/v1alpha1
kind: TableTemplate
metadata:
  name: demodb-write-template
spec:
  databases:
  - profile-database
  - ads-database
  methods:
  - Modify
  connector: |
    connector = blackhole

---

apiVersion: hoptimator.linkedin.com/v1alpha1
kind: TableTemplate
metadata:
  name: ads-source-trigger-template
spec:
  databases:
    - ads-database
  methods:
    - Scan
  yaml: |
    apiVersion: hoptimator.linkedin.com/v1alpha1
    kind: TableTrigger
    metadata:
      name: {{name}}-trigger
    spec:
      schema: KAFKA
      table: {{offline.table.name}}
      jobProperties: {{job.properties}}
      yaml: |
        apiVersion: batch/v1
        kind: Job
        metadata:
          name: {{name}}-job
        spec:
          template:
            spec:
              containers:
              - name: hello
                image: alpine/k8s:1.33.0
                command: ["bash",  "-c", "echo {{name}}-trigger fired at `date`"]
              restartPolicy: Never
          backoffLimit: 4