apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: kafkatopics.hoptimator.linkedin.com
spec:
  group: hoptimator.linkedin.com
  names:
    kind: KafkaTopic
    listKind: KafkaTopicList
    plural: kafkatopics
    singular: kafkatopic
    shortNames:
    - kt
  preserveUnknownFields: false
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          description: Kafka Topic
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              description: Desired Kafka topic configuration.
              type: object
              properties:
                name:
                  description: The topic name.
                  type: string
                numPartitions:
                  description: Number of partitions the topic should have. By default, the cluster decides.
                  type: integer
                replicationFactor:
                  description: The replication factor the topic should have. By default, the cluster decides.
                  type: integer
                configs:
                  description: Topic configurations.
                  type: object
                  additionalProperties:
                    type: string
                clientConfigs:
                  description: ConfigMaps for AdminClient configuration.
                  type: array
                  items:
                    type: object
                    properties:
                      configMapRef:
                        description: Reference to a ConfigMap to use for AdminClient configuration.
                        type: object
                        properties:
                          name:
                            description: Name of ConfigMap to use for AdminClient configuration.
                            type: string
                        required:
                        - name
                clientOverrides:
                  description: AdminClient overrides.
                  type: object
                  additionalProperties:
                    type: string
              required:
              - name
            status:
              description: Current state of the topic.
              type: object
              properties:
                numPartitions:
                  description: Actual number of partitions the topic has when last checked.
                  type: integer
                ready:
                  description: Whether the requested topic has been created.
                  type: boolean
                message:
                  description: Error or success message, for information only.
                  type: string
      subresources:
        status: {}
