apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: subscriptions.hoptimator.linkedin.com
spec:
  group: hoptimator.linkedin.com
  names:
    kind: Subscription
    listKind: SubscriptionList
    plural: subscriptions
    singular: subscription
    shortNames:
    - sub
  preserveUnknownFields: false
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          description: Hoptimator Subscription
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              description: Subscription spec
              type: object
              properties:
                sql:
                  description: A single SQL query.
                  type: string
                database:
                  description: The database in which to create the output/sink table.
                  type: string
              required:
              - sql
              - database
            status:
              description: Filled in by the operator.
              type: object
              properties:
                ready:
                  description: Whether the subscription is ready to be consumed.
                  type: boolean
                message:
                  description: Error or success message, for information only.
                  type: string
      subresources:
        status: {}
