apiVersion: hoptimator.linkedin.com/v1alpha1
kind: Acl
metadata:
  name: {{topicName toName}}-acl-{{id}}
  namespace: {{pipeline.namespace}}
spec:
  resource:
    kind: KafkaTopic
    name: {{topicName toName}}
  method: {{method}}
  principal: {{principal}} 
